.cashierLayout {
	display: flex;
	flex-direction: row;
	gap: 24px;
	 --mobile-cart-offset: 72px;
}

@media (max-width: 500px) {
    .cashierLayout {
        padding-bottom: calc(
            var(--mobile-cart-offset) +
            env(safe-area-inset-bottom) +
            16px
        );
    }
}
